extends ./template.pug

block body
	h1
		a.page-title(href="/", title="home") Akshay Shekhawat
	p
		| Hello, I am a software developer in San Francisco.
		= " "
		a(href="/blog/") My blog
		| .
	ul.external-websites
		li
			a.github(href="//github.com/akshay288", target="_blank") Github
		li
			a.linkedin(href="//www.linkedin.com/in/akshay-shekhawat/", target="_blank") LinkedIn
		li
			a.mail(href="mailto:akshay.shekhawat@gmail.com") Mail
		li
			a(href="/files/public_key.txt") My Public Key
	h2 Publications
	p
		| Valovage, M., Shekhawat, A. and Gini, M.
		| Model-Free Iterative Temporal Appliance Discovery for Unsupervised Electricity Disaggregation
		| AAAI 2018.
		= " "
		a(href="/files/iterative_appliance_discovery.pdf") [PDF]
