extends ./template.pug

block body
	h1
		a.page-title(href="/", title="home") Akshay Shekhawat
	p
		| Hello, I am a software developer in Minneapolis, Minnesota.
		| You can see the side projects I am currently working on at my
		= " "
		a(href="//github.com/akshay288") github
		| .
		= " "
		a(href="/files/public_key.txt") My Public Key
		| .
		= " "
		a(href="/blog/") My blog
		| .
	div.external-websites
		a.github(href="//github.com/akshay288", target="_blank")
			i.socicon-github
		a.linkedin(href="//www.linkedin.com/in/akshay-shekhawat/", target="_blank")
			i.socicon-linkedin
		a.keybase(href="//keybase.io/akshay288", target="_blank")
			i.socicon-keybase
		a.mail(href="mailto:akshay.shekhawat@gmail.com")
			i.socicon-mail
	h2 Publications
	p
		| Valovage, M., Shekhawat, A. and Gini, M.
		| Model-Free Iterative Temporal Appliance Discovery for Unsupervised Electricity Disaggregation
		| AAAI 2018. 25% acceptance rate.
		= " "
		a(href="/files/iterative_appliance_discovery.pdf") [PDF]
