doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="//file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css")
		link(rel="stylesheet", href="/main.css")
		block css
		block head
			title Akshay Shekhawat
	body
		div.main-content
			block body
				| TODO
		script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="/main.js")
		block js
