doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="//file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css")
		link(rel="stylesheet", href="/solarized-dark.css")
		link(rel="stylesheet", href="/main.css")
		script(type="text/javascript" async=true src="https://www.googletagmanager.com/gtag/js?id=UA-110455266-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-110455266-1');
		script(type="text/javascript" async=true src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML")
		block css
		block head
			title Akshay Shekhawat
	body
		div.main-content
			block body
				| TODO
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
		script(src="/highlight.pack.min.js")
		script(src="/main.js")
		block js
