doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="//file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css")
		block css
			link(rel="stylesheet", href="/main.css")
		block head
			title Akshay Shekhawat
	body
		div.main-content
			block body
				| TODO
		script(src="/main.js")
