* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

.page-title {
    color: black;
    text-decoration: none;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.main-content {
	margin: auto;
	max-width: 700px;
	padding: 20px;
}

.external-websites {
	display: flex;
	font-size: 18px;
	margin-top: 10px;
}

.external-websites a {
	margin: 0 5px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	width: 40px;
	text-align: center;
	height: 40px;
	padding-top: 10px;
}

.github { background-color: black; }
.keybase { background-color: #ff6f21; }
.mail { background-color: gray; }
.linkedin { background-color: #4875B4; }

.post {
	display: flex;
	align-items: center;
}

.post .name {
	margin-right: 40px;
}

.post-meta .date {
	font-size: .9em;
	color: grey;
	font-weight: bold;
}
